@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/googlefonts/Merriweather-normal-400.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/googlefonts/Reem_Kufi-normal-400.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/css/fonts/googlefonts/Roboto-normal-500.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/css/fonts/googlefonts/Roboto-normal-700.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 500;
  src: url('/css/fonts/googlefonts/MaterialIcons-Regular.woff') format('woff');
  unicode-range: U+0-10FFFF;
}
